<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="./img/pool.png" alt="">
        <p>I am a final year undergrad student at Indian Institute of Information Technology, Sonipat, Haryana, India.</p>
        <p>I am a passionate and driven person with great problem solving skills. </p>
    </div>
 
    {{>footer}}
</body>
</html>